//font-family: 'Questrial', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Questrial", sans-serif;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/binary-5137349_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.habit-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(88, 79, 79, 0.35);
  width: 100%;
  height: 100%;

  &.hidden {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  &__title {
    background-color: rgba(26, 24, 24, 0.75);
    padding: 5px 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px #e4da24;
    font-family: "Questrial", sans-serif;
    font-weight: normal;
    font-size: 5em;
    color: lightgray;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-input {
  width: 40vw;
  font-size: 3.5em;
  font-family: "Questrial", sans-serif;
  padding: 10px 15px;
  background-color: rgba(26, 24, 24, 0.75);
  margin: 25px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0 0 15px #e4da24;
  color: #fff;
  &:focus {
    background-color: rgba(88, 79, 79, 0.85);
  }
}

.form-submit {
  width: 20vw;
  font-size: 3.5em;
  font-family: "Questrial", sans-serif;
  padding: 10px 0;
  background-color: rgba(88, 79, 79, 0.75);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: #222;
    background-color: white;
  }
}

.habit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(88, 79, 79, 0.35);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  animation: showDay 1s linear;

  &.hidden {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    max-width: 700px;
    height: 10vh;
    background-color: rgba(24, 23, 23, 0.8);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #e4da24;
  }
  &__month-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 75vh;
    max-width: 700px;
    background-color: rgba(24, 23, 23, 0.8);
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 0 5px #e4da24;
  }

  &__text {
    font-size: 2em;
    padding: 10px 0;
  }

  &__name {
    width: 90%;
    font-size: 2.2em;
    overflow-wrap: normal;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  &__btn {
    width: 30%;
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 5px 15px;
    cursor: pointer;
    background-color: rgba(88, 79, 79, 0.65);
    outline: none;
    border: 2px solid gray;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    color: white;
    transition: 0.5s;

    &:hover {
      background-color: white;
      color: #555;
      box-shadow: 0 0 5px black;
    }
  }

  &__display {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 20px;
    font-size: 1.8em;
    padding: 10px;
  }

  &__month {
    width: 40%;
    box-shadow: 0 0 3px white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(24, 23, 23, 0.8);
    text-align: center;
    letter-spacing: 1px;
  }

  &__success {
    width: 40%;
    box-shadow: 0 0 5px white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(24, 23, 23, 0.8);
    text-align: center;
  }

  &__days-container {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    flex-wrap: wrap;
    height: 85%;
    width: 100%;
    overflow: auto;
    padding: 5px;
  }

  &__day {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 13%;
    height: 18%;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 2px 5px 4px;
    background-color: rgba(24, 23, 23, 0.8);
  }

  &__day.empty {
    background-color: transparent;
  }

  &__checkbox {
    position: relative;
    margin-bottom: 25px;
    opacity: 0;
  }

  &__checkbox + label {
    top: 10%;
    font-size: 1.4em;
    border-top: 1px solid rgba(88, 79, 79, 0.65);
    width: 90%;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    background-color: rgb(167, 162, 162);
    color: #222;
    border-radius: 5px;
  }

  &__checkbox + label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    transform: translate(-50%, -100%);
    background: rgba(88, 79, 79, 0.65);
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px white;
    transition: 0.5s;
  }

  &__checkbox + label:hover::before {
    border: 2px solid white;
  }
  &__checkbox:checked + label::before {
    background-color: green;
    box-shadow: 0 0 5px black;
  }
}

.delete-button {
  width: 30%;
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgba(88, 79, 79, 0.65);
  outline: none;
  border: 2px solid gray;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
  color: white;
  transition: 0.5s;

  &:hover {
    background-color: white;
    color: #555;
    box-shadow: 0 0 5px black;
  }
}

@keyframes showDay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
